extends layout

block content
	.text
		h1= title + ':'
		.about
			p= about1
			p= about2
			p= about3
			p - Will Kent-Daggett and John Kim
		.info
			!{info}
	img(src='https://i.imgur.com/9TmopU0.jpg')

